.about-us {
  display: flex;
  overflow: hidden;
  min-height: 720px;
  flex-direction: row-reverse ;
}

.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-white);
  position: relative;
}

.about-us__image div {
  padding: 32px 64px;

  flex: 1;
  display: flex;
  align-items: center;


  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__image-sushi3 {
  border-bottom: 8px solid var(--color-creamson);
  background-image: url(/assets/about_bg1.png);
}

.about-us__image-sushi2 {
  background-image: url(/assets/about_bg2.png);
}

.about-us__image-sushi3 img {
  width: 225px;
  height: 200px;
}

.about-us__image-sushi2 img {
  width: 240px;
  height: 160px;
}

.about-us__button {
  padding: 12px 32px;
  position: absolute;
  right: 0;

  background: var(--secondary-color);
  border-radius: 32px 0px 0px 32px;
  color: #fff;
  min-height: 64px;
  border: none;
  outline: none;

  font-size: 18px;
  font-weight: 700;
  font-family: var(--plus-jakarta-sans);

  cursor: pointer;
}

.about-us__button img{
    object-fit: contain;
    margin-left: 32px;
}

.about-us__content{
    padding: 64px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sushi__title{
color: var(--secondary-color);
padding: 20px 0px;
line-height: 80px;
font-size: 64px;
font-family: var(--playfair-display);
}

.sushi__subtitle{
    font-size: 18px;
    color: var(--secondary-color);
    opacity: 0.8;
}

.sushi__description{
    padding: 20px 0px;
    font-size: 16px;
    
    color: var(--secondary-color);
    opacity: 0.8;
    line-height: 32px;
    font-family: var(--plus-jakarta-sans);
}
